@font-face { font-family: Atari; src: url('image/font/PressStart2P-vaV7.ttf'); } 

body
{
    background: #282C34;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas
{
    border: 3px solid white;
}
